<div style="text-align:center;">
    <h1>Admin Panel</h1>
    <br />
    <br />
    <a asp-controller="CategoryManagment" asp-action="List"><h2>Categories managment</h2></a>
    <br />
    <a asp-controller="DishManagment" asp-action="List"><h2>Dish Managment</h2></a>
</div>
