@model Category

<h1>Successfuly added/edited category</h1>

<h1>@Model.Name</h1>
<h3>@Model.CategoryId</h3>
<a asp-controller="CategoryManagment" asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a>